* {
  font-family: "lato", sans-serif;
}
#intro{
  margin:2%;
}

section {
  padding: 50px 0px;
}

#about {
  background-color:rgb(51, 51, 51);
  color: white;
  text-align: center;
}

#portfolio {
  color: black;
}

#grid{
  justify-content: center;
}

.card{
  margin:5px;
  min-height: 100%;
  color:black;
}

.card:hover{
  opacity:.9;
  background-color: orange;
  transition: ease-in-out 0.4s;
}

#contact {
  background-color: #0B4F6C;
  color: white;
}

.navbar {
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: #596869;
}

.nav,
footer {
  background-color: #0B4F6C;
  color: #596869;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

.btn {
  background-color: #dd6E42;
  border-radius: 0px;
  border-color: #dd6E42;
  color: white;
}

p{
font-size: 1rem;;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a:hover {
  color: #dd6E42;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

h5 {
  margin: 5px 0px;
}

hr {
  height: 5px;
  color: #dd6E42;
  background-color: #dd6E42;
  border-radius: 3px;
}

/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 320px) {
  #name {
    text-align: left;
    font-size: 3rem;
  }
  #title {
    font-size: 1.5rem;
  }
  hr {
    margin: 0 auto 20px auto;
    width: 50%;
  }

  h1 {
    text-align: center;
  }
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
  #name {
    font-size: 5rem;
  }
  h1 {
    text-align: left;
  }
  hr {
    width: 35%;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 50px;
  }
  #grid{
    justify-content: left;
  }
  #about{
    text-align:left;
  }
}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {

  section{
    padding:20px 0px;
    text-align:left;
  }
  h1 {
    text-align: left;
  }

  p {
    font-size: 1.2rem;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}