* {
  font-family: "lato", sans-serif;
}

.jumbotron {
  color: white;
  background: url(http://placekitten.com/1400/300);
  background-size: cover;
}

#name {
  color: #dd6E42;
}

#about,
#portfolio,
#contact {
  padding: 50px 0px;
}

#portfolio {
  background-color: #145C9E;
  color: white;
}

#contact {
  background-color: #0B4F6C;
  color: white;
}

.card {
  border: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.card p,
h5 {
  color: black;
}

.navbar {
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: #596869;
}

.nav,
footer {
  background-color: #0B4F6C;
  color: #596869;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

.btn {
  background-color: #dd6E42;
  border-radius: 0px;
  border-color: #dd6E42;
  color: white;
}

a:hover {
  color: white;
  background-color: #dd6E42;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

h5 {
  margin: 5px 0px;
}

hr {
  height: 5px;
  color: #dd6E42;
  background-color: #dd6E42;
  border-radius: 3px;
}






/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 320px) {
  h1 {
    text-align: center;
  }
  hr {
    margin: 0 auto 20px auto;
    width: 50%;
  }
  p {
    font-size: 18px;
  }

  #about p{
    text-align: center;
  }
}



/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}



/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
  h1 {
    text-align: left;
  }

  hr {
    width: 35%;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 50px;
  }
  p {
    font-size: 16px;
  }

  #about p{
    text-align: center;
  }
  .card {
    border: 30px;
  }
}



/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
}